.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1cacd7;
    color: black;
    padding: 100px;
    border-radius: 5px;
    z-index: 9999;

}


.success-message p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
