body {
	background-color: #f5f8fa;
}

.card {
	margin-top: 50px;
}

.form-group {
	margin-bottom: 20px;
}

.form-check-label {
	font-weight: normal;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}
