.return-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    width: 100%;
    margin-left: -100px;
}

.detail-table {
    border-collapse: collapse;
    width: 200%;
}

.detail-table th,
.detail-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 50%; /* increase width of rows */
}

.detail-table th {
    background-color: #1cacd7;
}

.detail-table th:first-child{
    width: 50%;
}
.detail-table td:first-child {
    width: 50%;
}

.detail-table td {
    color: black;
}

.form-group {
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

/* Style the select element */
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #1cacd7;
}

/* Style the option elements */
option {
    background-color: white;
    color: black;
}

/* Style the selected option */
option:checked {
    background-color: #008CBA;
    color: white;
}
