#container1{
    max-width: 900px;
    height: 130px;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 21px;
}

#container2{
    max-width: 440px;
    height: 130px;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 18px;
    color: white;
}

#container3 .card .card-body{
    border: 1px solid #057ec4;
}

#container4{
    background-color: #4b4b4b;
}

.carousel-caption h4,.carousel-caption p{

    color: black;
    background: white;
    text-align: start;
}

#myChart{
    width: 100%;
}